<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yangi Post Qo'shish</title>
</head>
<body>
    <h1>Yangi Post Qo'shish</h1>
    <form action="/add" method="post">
        <label for="title">Sarlavha:</label>
        <input type="text" id="title" name="title" required>
        <br>
        <label for="content">Kontent:</label>
        <textarea id="content" name="content" required></textarea>
        <br>
        <button type="submit">Qo'shish</button>
    </form>
    <a href="/">Bosh Sahifa</a>
</body>
</html>