<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Site - Posts</title>
</head>
<body>

    <h1>All Posts</h1>
    <form action="/posts" method="post">
        <label for="search">Search: </label>
        <input type="text" name="search" placeholder="Title">
        <button type="submit">Search</button>
    </form>

    <ul>
        {% for blog in posts %}
            <li><a href="{{url_for("post_detail", post_id=blog.id) }}">{{ blog.title }}</a></li>
        {% endfor %}
    </ul>

</body>
</html>